.curry-comp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.curry-comp-title {
  text-align: center;
  font-size: 32px;
  /* text-transform: capitalize; */
  letter-spacing: 2px;
}

.curry-menu {
  font-size: medium;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  margin: 5px 0px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.curry-item {
  transform: translateX(50px);
  text-transform: lowercase;
}

.curry-item-select {
  color: greenyellow;
}

.button-page {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  min-width: 200px;
  padding: 10px 10px;
  margin: 5px 0px;
  border-radius: 10px;
}

.button-page:hover {
  cursor: pointer;
  border-color: lightgreen;
  color: lightgreen;
}
